html,
body {
    width: 100%;
    height: 100%;
}

body {
    background: url(../images/restaurant.jpg) no-repeat center center fixed;
    background-size: cover;
}
.container-fluid {
	background-color:white;
}

.navbar-brand {
	background: url("../images/logo-name.png")center / contain no-repeat;
	margin-left:10px;
	width:200px;
  	transform: translateX(-50%);
 	left: 53%;
  	position: absolute;
}

body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

#main-content {
    background-color: white;
    border-radius: 6px;
    padding-bottom: 15px;
}

.sign-in {
	background-color:#68c62a;
	border:none;
}
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
