html,
body {
    width: 100%;
    height: 100%;
}

body {
    background: url(../images/restaurant.jpg) no-repeat center center fixed;
    background-size: cover;
}

.container-fluid {
    background-color: #fff;
}

.container {
    height: 100%;
}

#welcome {
    text-align: center;
}

#logo{
    width:100%;
}

#searchbar {
    margin: 150px 0;
    width: 100%;
}

.navbar-brand {
    background: url(../images/logo-name.png)center / contain no-repeat;
    width: 200px;
    transform: translateX(-50%);
    left: 53%;
    position: absolute;
}

#restResult,
#groupResult {
    background-color: #fff;
    font-size: 18px;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-top: 50px;
    padding: 10px;
    vertical-align: middle;
}
.panel {
    padding:0;
    border:none;
}

th {
    font-size:18px;
    color:#eee;
    background-color:#68c62a;
}

#tableThing {
    border-radius: 6px;
}

.row {
    margin:0;
}

#restResult {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#groupResult {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.btn-default {
    color: #555;
    background-color: #fff;
    height: 46px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#submitButton {
    background-color: darkgreen;
    border: 1px solid #ccc;
}

.decision {
    background-color: darkgreen;
    border:none;
    height:100px;
    width:100px;
    margin:0 auto;
}

#likeDisBut {
    vertical-align:middle;
}

.decision:focus  {
    background-color:darkgreen;
    outline-style:none;
    box-shadow:none;
    border-color:transparent;
}

.decision:hover, .decision:hover i  {
    background-color: #68c62a;
}

.glyphicon.glyphicon-heart, .glyphicon.glyphicon-remove {
    font-size: 50px;
}

.btn span {
    font-size: 18px;
    color: darkgray;
}

#city-input {
    width: 50%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#search-input {
    width: 50%;
}

.glyphicon {
    background-color: darkgreen;
}

#restaurantDiv {
    background-color: #fff;
    border-radius: 6px;
    text-align: center;
    vertical-align: middle;
    padding-bottom: 5px;
}

#resultName {
    background-color: #68c62a;
    color: #fff;
    border-bottom: 1px solid #ccc;
    border-radius: 6px;
    padding: 5px 0;
}

.navbar-right {
    font-size: 18px;
}

#main-content {
    background-color: white;
    border-radius: 6px;
    padding-bottom: 15px;
    margin-top: 100px;
}

.sign-in {
    background-color: #68c62a;
    border: none;
}

.sign-in:hover {
    background-color: darkgreen;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type=“email”] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type=“password”] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signUp-heading {
    font-size: 19px;
}

.form-signUp {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signUp .form-signUp-heading,
.form-signUp .checkbox {
    margin-bottom: 10px;
}

.form-signUp .checkbox {
    font-weight: normal;
}
#logout, #login {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #777;
    background-color: transparent;
    text-decoration: none;
    line-height: 20px;
}
#logout:hover, #login:hover {
    color:#333;
}
.form-signUp .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
}

.form-signUp .form-control:focus {
    z-index: 2;
}

.form-signUp input[type=“email”] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signUp input[type=“password”] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}